.project {
  margin: 50px;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 3%;
  margin-right: 5%;
  justify-content: space-evenly;
}
.project-item {
  margin: 2px;
  padding: 0px;
  /* align-self: center; */
}

.bookshelf > .project-image {
  width: 35rem;
}
.todolist > .project-image {
  width: 35rem;
}

.project-headingTitle {
  font-family: "Courier New", Courier, monospace;
  font-size: 2em;
  text-decoration: underline;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.project-subheadingTitle {
  font-family: "IBM Plex Sans", Courier, monospace;
  text-decoration: underline;
  color: #6d5e55;
  margin-top: 15px;
  margin-bottom: 10px;
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-width: 25em;
}

.project-image {
  width: 400px;
}

.project-desc {
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-width: 25em;
  margin-bottom: 10px;
}

@media screen and (max-width: 1024px) {
  .project {
  }
  .project-headingTitle {
    font-size: 140%;
    margin-left: -10%;
  }
  .project-container {
    margin-left: 0%;
  }
  .project-image {
    width: 300px;
  }

  .bookshelf > .project-image {
    width: 320px;
    margin-left: 3%;
  }
  .todolist > .project-image {
    width: 310px;
    margin-left: 3%;
  }
}
