.project-headTitle {
  font-family: "Courier New", Courier, monospace;
  font-size: 2em;
  text-decoration: underline;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.project {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 80px 0 80px;
}

.project-item {
  /* margin: 5px; */
}

.project-subheadingTitle {
  font-family: fantasy;
  font-size: 22px;
  text-decoration: underline;
  color: #6d5e55;
  margin-top: 15px;
  margin-bottom: 10px;
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-width: 25em;
}

.project-image {
  width: 440px;
}

.project-desc {
  font-family: monospace;
  font-size: 18px;
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-width: 25em;
  margin-bottom: 10px;
  padding: 10px;
  line-height: 1.2;
}
.project-link {
  font-size: 20px;
}

@media screen and (max-width: 1024px) {
  .project {
    margin-left: 5%;
    width: 90%;
    align-items: center;
  }
  .project-headTitle {
    font-size: 140%;
    margin-left: 6%;
  }
  .project-image {
    width: 100%;
  }
}
