.writes {
  margin-left: -10%;
}
.writes-headingTitle {
  font-size: 50px;
  margin-top: 25px;
  position: relative;
  left: 11%;
}

.writes-linkPath {
  margin-left: 9%;
  display: flex;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .writes-headingTitle {
    position: relative;
    margin-bottom: -10%;
    left: 9%;
    font-size: 200%;
  }
}
