.writesTechProgramming-container {
  padding: 10px;
}

.writesTechProgramming-contentContainer {
  flex-wrap: wrap;
  display: flex;
}
.writesTechProgramming-contentItem {
  width: 30rem;
  margin: 4px 2px;
}

.card-image {
  width: 440px;
  transition: transform 1s ease;
}
.card-image:hover {
  transform: scale(1.2);
}

.card-image-flow {
  overflow: hidden;
}

.writesTechProgramming-pagination {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

/* @media screen and (max-width: 1024px) {
  .writesTechProgramming-contentContainer {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
} */
