.writesTech-container {
  padding: 10px;
}

.writesTech-contentContainer {
  flex-wrap: wrap;
  display: flex;
}
.writesTech-contentItem {
  width: 30rem;
  margin: 4px 2px;
  opacity: 0.8;
}
.writesTech-contentItem:hover {
  opacity: 1;
}
.cardImage:hover {
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -o-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  transition: all 130ms ease-in-out 0s;
}

.writesTech-pagination {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

/* @media screen and (max-width: 1024px) {
  .writesTech-contentContainer {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
} */
