.singlePage-container {
  padding: 10px;
}
.singlePage-content-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.singlePage-title {
  padding: 20px;
  font-size: 50px;
}
.singlePage-subtitle {
  padding: 10px 20px;
  font-size: 17px;
}
.singlePage-content {
  margin-left: 10px;
  font-size: 20px;
  line-height: 2rem;
}

.card-image {
  width: 440px;
  transition: transform 1s ease;
}
.card-image:hover {
  transform: scale(1.2);
}

.card-image-flow {
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .singlePage-title {
    font-size: 29px;
  }
  .singlePage-subtitle {
    font-size: 12px;
    padding: 0px;
    margin-bottom: 5px;
  }
  .cardImage {
    height: 250px;
  }
}
