.projects-headingTitle {
  font-size: 50px;
  margin-top: 25px;
  margin-left: 150px;
  flex-wrap: nowrap;
}

.projects-linkPath {
  display: flex;
  margin-left: 6%;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
}

.projects {
  margin-bottom: 2%;
}

@media screen and (max-width: 1024px) {
  .projects-headingTitle {
    position: relative;
    left: -2%;
    /* margin-bottom: -2%; */
    font-size: 200%;
  }
}
