* {
  /* menghapus seluruh padding dan margin standar yang diberikan browser pada elemen */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.linkNew {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.linkNew:hover {
  text-decoration: underline;
}
.linkNew2 {
  text-decoration: none;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.link {
  text-decoration: none;
  color: black;
  padding: 2px 0px 1px;
  background-image: linear-gradient(transparent 0%, transparent calc(50% - 9px), rgba(0, 255, 0, 0.35) calc(50% - 9px), rgba(0, 255, 0, 0.35) 100%);
  transition: all 120ms ease-in-out 0s;
  background-size: 100% 210%;
  background-position: 0px 0px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 549;
}

.link:hover {
  text-decoration: none;
  color: black;
  padding: 2px 0px 1px;
  background-image: linear-gradient(transparent 0%, transparent calc(50% - 9px), rgba(0, 255, 0, 0.35) calc(50% - 9px), rgba(0, 255, 0, 0.35) 100%);
  transition: all 120ms ease-in-out 0s;
  background-size: 100% 10%;
  background-position: 0px 0px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 549;
}

.linkYellow {
  text-decoration: none;
  color: black;
  background-image: linear-gradient(transparent 0%, transparent calc(50% - 9px), rgb(255, 230, 0) calc(50% - 9px), rgba(5, 5, 5, 0.35) 100%);
  transition: all 120ms ease-in-out 0s;
  background-size: 100% 200%;
  background-position: 0px 0px;
  font-family: "IBM Plex Sans", Courier, monospace;
  margin-left: 10px;
}

.linkYellow:hover {
  text-decoration: none;
  color: black;
  background-image: linear-gradient(transparent 0%, transparent calc(50% - 9px), rgb(255, 230, 0) calc(50% - 9px), rgba(255, 238, 2, 0.965) 100%);
  transition: all 120ms ease-in-out 0s;
  background-size: 100% 100%;
  background-position: 0px 0px;
  font-family: "IBM Plex Sans", Courier, monospace;
  margin-left: 10px;
}
